<!DOCTYPE html>
<html>
    <head>
    {% assets "css_bundle" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "javascript_bundle" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    </head>
    <body>
        <div class="wrapper">
            <ul>
            {% for service in services %}
                <li class="service">
                    <input type="checkbox" name="{{ service.id }}" id="{{ service.id }}" onclick="services.set('{{ service.id }}', 'active')">
                    <label for="{{ service.id }}">{{ service.name }}</label>
                </li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
