<!DOCTYPE html>
<html>
    <head>
    {% assets "css_bundle" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "javascript_bundle" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    </head>
    <body>
        <div class="wrapper">
            <div id="services">
            {% for service in services %}
                <div id="service">
                    <input type="radio" name="service" id="{{ service.id }}" onclick="services.set('{{ service.id }}', 'active')">
                    <label for="{{ service.id }}">{{ service.name }}</label>
                </div>
            {% endfor %}
            </form>
        </div>
    </body>
</html>
