<!DOCTYPE html>
<html>
    <head>
        <script src="/static/api.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="services">
            {% for service in services %}
                <div id="service">
                    <input type="radio" name="service" id="{{ service.id }}" onclick="services.set('{{ service.id }}', 'active')">
                    <label for="{{ service.id }}">{{ service.name }}</label>
                </div>
            {% endfor %}
            </form>
        </div>
    </body>
</html>
